<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <!--/* 
    Input de selection de valeur multiple avec tags pour chaque valeur et autocomplétion possible
    @param label: Label à afficher au dessus de l'input
    @param id: id de l'input
    @param name: nom du select et donc du paramètre transmis dans les requêtes.
    @param description: Description de l'input (vide si non nécessaire)
    @param options: options disponibles si urlautocomplete == false.
    @param values: options sélectionnées présélectionnées. Si autocomplete == true et qu'il ne faut pas renseigner d'options
                   en plus de l'autocomplétion, renseigner ${ {} }
    @param disabled: true ou false, désactive le fragment
    @param urlautocomplete: Chaine de caractères permettant la requête ajax pour l'autocomplétion. À brancher dans ReponsesRechercheAjax.java. Vaut false si désactivée
    @param queryparam: nom du paramètre à rajouter dans l'url lors de l'utilisation de l'autocomplete
    @param keymapping: pour un autocomplete asynchrone, nom du champ correspondant à la clé dans le retour ajax 
    @param labelmapping: pour un autocomplete asynchrone, nom du champ correspondant au label dans le retour ajax 
    @param requis: true ou false, rend l'input obligatoire
    @param multiple: true ou false, défini si plusieurs options du select peuvent être sélectionnées
    @param customTags: true ou false, définit si l'utilisateur peut ajouter des tags librement saisis
     */-->
        <th:block
            th:fragment="autocompleteSelect(label, id, name, description, options, values, disabled, urlautocomplete, minLength, queryparam, keymapping, labelmapping, required, multiple, customTags)"
        >
            <div class="form-input">
                <div class="form-input__header">
                    <div class="form-input__header-top">
                        <label
                            th:id="|form-select-autocomplete-multiplearia-autocomplete-label-${id}|"
                            th:for="${id}"
                            class="form-label"
                            th:classappend="${disabled ? 'form-label--disabled' : ''}"
                            >[[${label != '' ? #messages.msg(label) : ''}]]
                            <span th:if="${required}" class="form-label__required-text" th:text="#{form.input.required}"
                                >(requis)</span
                            >
                        </label>
                        <div role="status" class="form-input__icon-group"></div>
                    </div>
                    <div class="form-input__header-bottom">
                        <p
                            th:id="|label_header_bottom_form-select-autocomplete-multiple-${id}|"
                            class="form-input__description form-input__description--default"
                            th:classappend="${disabled ? 'form-label--disabled' : ''}"
                            th:text="${#messages.msgOrNull(description)}"
                        >
                            Veuillez saisir au moins 3 caractères et choisir dans la liste
                        </p>
                    </div>
                </div>
                <div class="form-input__container">
                    <div class="form-select__field-wrapper form-select__field-wrapper--tags">
                        <div class="form-select-input-autocomplete">
                            <select
                                th:multiple="${multiple} ? multiple"
                                th:name="${name}"
                                th:id="${id}"
                                th:aria-describedby="|label_header_bottom_form-select-autocomplete-multiple-${id}|"
                                th:class="|form-select-input-autocomplete__field js-aria-autocomplete-select-tags aria-autocomplete--hide hide hidden ${urlautocomplete != '' ? 'js-aria-autocomplete-select-with-async' : 'js-aria-autocomplete-select '}|"
                                th:classappend="${disabled ? 'form-select-input__field--disabled' : ''}"
                                aria-hidden="true"
                                hidden="hidden"
                                th:data-url="${urlautocomplete != ''} ? ${urlautocomplete}"
                                th:data-min-length="${minLength != ''} ? ${minLength}"
                                th:data-query-param="${queryparam != ''} ? ${queryparam}"
                                th:data-key-mapping="${keymapping != ''} ? ${keymapping}"
                                th:data-label-mapping="${labelmapping != ''} ? ${labelmapping}"
                                th:data-validation="${required}? 'required'"
                                th:readonly="${urlautocomplete != ''} ? ${disabled}"
                                th:disabled="${urlautocomplete == ''} ? ${disabled}"
                                th:data-accepts-custom-tags="${customTags}"
                            >
                                <th:block th:if="${not #lists.isEmpty(options)}">
                                    <th:block th:each="option : ${options}">
                                        <option
                                            th:value="${option.id}"
                                            th:text="${option.label}"
                                            th:selected="${#lists.contains(values, option.id)}"
                                        ></option>
                                    </th:block>
                                </th:block>
                                <th:block th:unless="${not #lists.isEmpty(options)}">
                                    <th:block th:each="value : ${values}">
                                        <option
                                            th:value="${keymapping != '' && labelmapping !=keymapping} ? ${value.key} : ${value}"
                                            th:text="${labelmapping != '' && labelmapping !=keymapping} ? ${value.value} : ${value}"
                                            th:selected="selected"
                                        ></option>
                                    </th:block>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
                <div th:id="|${id}_description|" class="form-input__footer"></div>
            </div>
        </th:block>
    </body>
</html>
