.codeBlock {
  font-family: monospace;
  white-space: pre-wrap;
}

.codeBlock,
.codeBlock div {
  line-height: 0;
}

.codeBlock span {
  padding: 0;
  line-height: 1.1em;
}

.codeBlock .debug {
  font-weight: bold;
}
