<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form
            class="page-login__form login-form--inverted"
            th:fragment="resetPasswordForm"
            method="POST"
            id="ask_reset_password_form"
        >
            <input type="hidden" name="csrf-token" th:value="${csrftoken}" />
            <div role="alert" class="alert alert--danger" th:if="${loginFailed !=null && loginFailed}">
                <span
                    aria-hidden="true"
                    class="icon icon--exclamation-point bubble-icon alert__icon alert__icon--danger"
                ></span>
                <p class="alert__content" th:text="#{login.resetpwd.error}">
                    Erreur : Identifiant ou mél invalide
                </p>
            </div>

            <h1
                class="page-login__form__title m-b-6 base-title base-title--lvl-1"
                th:text="#{login.resetpwd.fieldset.legend}"
            >
                Réinitialisez votre mot de passe
            </h1>

            <div class="m-b-6 form-input">
                <div class="form-input__header">
                    <div class="form-input__header-top">
                        <label for="username" id="username_label" class="form-label">
                            [[#{login.username.label}]]
                            <span class="form-label__required-text" th:text="#{form.required.label}">(requis)</span>
                        </label>
                    </div>
                </div>
                <div class="form-input__container">
                    <input
                        th:autofocus="${username == null}"
                        type="text"
                        name="username"
                        id="username"
                        th:placeholder="#{login.username.placeholder}"
                        data-validation="required"
                        class="form-input__field form-input__field--type-text"
                        th:value="${username}"
                        required
                    />
                </div>
                <div id="username-error" class="form-input__footer"></div>
            </div>

            <div class="m-b-6 form-input">
                <div class="form-input__header">
                    <div class="form-input__header-top">
                        <label for="mail" id="mail_label" class="form-label">
                            [[#{login.resetpwd.mail.label}]]
                            <span class="form-label__required-text" th:text="#{form.required.label}">(requis)</span>
                        </label>
                    </div>
                </div>
                <div class="form-input__container">
                    <input
                        th:autofocus="${username != null}"
                        type="text"
                        name="mail"
                        id="mail"
                        th:placeholder="#{login.resetpwd.mail.placeholder}"
                        data-validation="required"
                        class="form-input__field form-input__field--type-text"
                        required
                    />
                </div>
                <div id="username-error" class="form-input__footer"></div>
            </div>

            <a
                th:href="@{/login#main_content}"
                class="base-btn base-btn--button base-btn--default base-btn--light-inverted base-btn--center base-btn--full base-btn--transparent base-btn--bordered"
                th:text="#{login.resetpwd.button.cancel.label}"
                style="margin-bottom: 0.5625em;"
            >
                > [[#{button.label.cancel}]]
            </a>
            <button
                type="submit"
                class="base-btn base-btn--button base-btn--default base-btn--primary-inverted base-btn--center base-btn--full"
                name="form-btn-submit"
                id="form-btn-submit"
                th:text="#{login.resetpwd.button.ok.label}"
            >
                Valider
            </button>
        </form>
    </body>
</html>
