<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="ajoutBranchFdr" id="ajoutBranchFdr" class="interstitial-overlay__content">
            <div
                role="dialog"
                aria-labelledby="dialogTitle"
                class="interstitial interstitial--large interstitial--tall modal-etape--small"
            >
                <div class="interstitial__header">
                    <h1 id="dialogTitle-ajoutBranchFdr" class="interstitial__title" th:text="#{fdr.step.add.branch}">
                        Ajout d'une branche
                    </h1>
                    <button
                        type="button"
                        class="interstitial__close base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--cross"></span>
                        <span class="sr-only" th:text="#{validation.popup.close.label}">Fermer</span>
                    </button>
                </div>
                <div class="interstitial__content">
                    <form class="qe-roadmap-stage-form">
                        <div id="etapeFdrContainer-branch">
                            <fieldset th:replace="fragments/fdr/etapeFdr :: etapeFdr(10, false, ${profil})"></fieldset>
                        </div>

                        <button
                            type="button"
                            class="m-t-6 base-btn base-btn--button base-btn--default base-btn--light base-btn--with-icon base-btn--prepend-icon base-btn--uppercased"
                            onclick="doAddEtape()"
                        >
                            <span aria-hidden="true" class="base-btn__icon icon icon--add"></span>
                            [[#{dossier.fdr.ajout.branch}]]
                        </button>
                    </form>
                </div>
                <div class="interstitial__footer">
                    <button
                        class="interstitial__button base-btn base-btn--button base-btn--default base-btn--light base-btn--center base-btn--transparent base-btn--bordered"
                        th:text="#{organigramme.edit.cancel}"
                    >
                        Annuler
                    </button>
                    <button
                        id="btn-confirm-ajoutBranchFdr"
                        class="interstitial__button base-btn base-btn--submit base-btn--default"
                        th:text="#{button.label.save}"
                    >
                        Sauvegarder
                    </button>
                </div>
                <div tabindex="-1" class="interstitial-overlay__tabindex"></div>
            </div>
        </div>
    </body>
</html>
