<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <ul
            th:fragment="line-historique-dossier(version)"
            class="tree-navigation__list tree-navigation__list--is-opened tree-navigation__list--subtree"
        >
            <li th:each="item : ${version.lstChilds}" class="tree-navigation__item tree-navigation__item--subitem">
                <a
                    th:title="${item.communicationLabel + (item.courant ? ' - courante' : '') + (item.annule ? ' - annulée' : '')}"
                    th:href="@{${isMGPP} ? |/mgpp/dossier/${item.communicationId}/fiche| : |/dossier/${item.communicationId}/detailCommunication| }"
                    class="tree-navigation__link tree-navigation__link--has-icon link link--no-line"
                    th:classappend="${item.courant ? ' tree-navigation__item--active width-100' : ''}"
                    ><span
                        aria-hidden="true"
                        class="icon link__icon link__icon--prepend link__icon--large"
                        th:classappend="${#lists.isEmpty(item.lstChilds) ? 'icon--file' : 'icon--folder'}"
                    ></span
                    ><span
                        class="tree-navigation__text"
                        th:classappend="${item.annule ? ' cell-crossed' : ''}"
                        th:text="${item.communicationLabel}"
                        >Annulé</span
                    ></a
                >
                <th:block th:unless="${#lists.isEmpty(item.lstChilds)}">
                    <th:block
                        th:replace="fragments/components/line-historique-dossier :: line-historique-dossier(${item})"
                    ></th:block>
                </th:block>
            </li>
        </ul>
    </body>
</html>
