<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="modalAddDocsFromDossier"
            th:id="|modal-add-docs-from-dossier-${piece != null ? piece.pieceJointeId : widget}|"
            class="interstitial-overlay__content"
        >
            <div role="dialog" aria-labelledby="dialogTitle-modal-add-docs" class="interstitial interstitial--large">
                <div class="interstitial__header">
                    <h1
                        id="dialogTitle-modal-add-docs"
                        class="interstitial__title"
                        th:text="#{pieceJointe.label.ajoutDocumentsDuDossier}"
                    ></h1>
                    <button
                        type="button"
                        class="interstitial__close base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--cross"></span>
                        <span class="sr-only" th:text="#{param.profil.utilisateur.fermer.modale}">Fermer</span>
                    </button>
                </div>
                <div class="interstitial__content" id="modal-user-profile-content">
                    <div
                        th:replace="pages/mgpp/listeDocuments :: document(${piece != null ? piece.pieceJointeId : widget})"
                    ></div>
                </div>
                <div class="interstitial__footer">
                    <button
                        type="button"
                        class="interstitial__button base-btn base-btn--button base-btn--default base-btn--light base-btn--center base-btn--transparent base-btn--bordered"
                        th:text="#{button.label.cancel}"
                    >
                        Annuler
                    </button>
                    <button
                        type="button"
                        class="interstitial__button base-btn base-btn--button base-btn--default base-btn--center"
                        th:text="#{button.label.ajouter}"
                        th:attr="onclick=|addDocsFromDossierToPJ('${piece != null ? piece.pieceJointeId : widget}')|"
                        th:id="|btn-confirm-modal-ajout-liste-docs-${piece != null ? piece.pieceJointeId : widget}|"
                    >
                        Ajouter
                    </button>
                </div>
            </div>
            <div tabindex="-1" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
