<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            class="m-b-6 form-input"
            th:fragment="passwordFormInput(showTooltip, showPlaceholder)"
            th:with="
        label=${label} ?: #{form.password.label},
        fullVerif=${fullVerif} ?: false,
        inputId=${inputId} ?: 'password'"
        >
            <div class="form-input__header">
                <div class="form-input__header-top">
                    <label for="password" id="password_label" class="form-label">
                        <th:block th:text="${label}">password label</th:block>
                        <span class="form-label__required-text" th:text="#{form.required.label}">(requis)</span>
                    </label>
                </div>
            </div>
            <div class="form-input__container">
                <input
                    type="password"
                    name="password"
                    th:id="${inputId}"
                    th:placeholder="${showPlaceholder} ? #{login.password.placeholder} : ''"
                    th:data-validation="|required ${fullVerif ? ', minlength(12), one_digit, one_special, one_upper_case, one_lower_case' : ''}|"
                    autocomplete="current-password"
                    class="form-input__field form-input__field--type-password"
                    th:minlength="${fullVerif ? '12' : ''}"
                    required
                />

                <button
                    type="button"
                    th:title="#{form.password.show.label}"
                    class="js-form-input-action form-input__action"
                >
                    <span class="sr-only" th:text="#{form.password.show.label}">Voir le mot de passe</span>
                    <span
                        aria-hidden="true"
                        class="form-input__action-icon icon icon--stroked-eye icon--v-align"
                    ></span>
                </button>
            </div>
            <div id="password-error" class="form-input__footer"></div>
        </div>
    </body>
</html>
