<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="password_tooltip" class="base-tooltip js-tooltip" tabindex="0" th:fragment="password-tooltip">
            <span
                aria-hidden="true"
                class="form-input__icon-item icon icon--information bubble-icon bubble-icon--info"
            ></span>
            <div id="password_rules" style="display: none;">
                <ul>
                    <li th:text="#{form.password.rules.identifiant}">Ne pas contenir l'identifiant</li>
                    <li th:text="#{form.password.rules.different}">Être différent du précédent mot de passe</li>
                    <li th:text="#{form.password.rules.alpha}">Comporter au moins 8 caractères alphanumériques</li>
                    <li th:text="#{form.password.rules.minuscule}">Comporter au moins une minuscule</li>
                    <li th:text="#{form.password.rules.majuscule}">Comporter au moins une majuscule</li>
                    <li th:text="#{form.password.rules.special}">Comporter au moins un caractère spécial</li>
                    <li th:text="#{form.password.rules.chiffre}">Comporter au moins un chiffre</li>
                </ul>
            </div>
        </div>
    </body>
</html>
