<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout :: layout (template=~{::main},templateClass='', description='Corbeilles de l\'utilisateur',title=#{menu.corbeille.title})}"
>
    <main role="main" id="main_content" class="page-layout__content">
        <h1 class="base-title base-title--lvl-1" th:text="#{menu.corbeille.title}"></h1>
        <p th:text="#{corbeilles.main.content}">
            Utilisez les liens dans la colonne de gauche pour afficher les corbeilles
        </p>
    </main>
</html>
