<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout  :: layout (template=~{::main},templateClass='', description='Page du changement de mot de passe', title=|${userForm.nom} ${userForm.prenom} (${userForm.utilisateur})|)}"
>
    <main role="main" id="main_content" class="page-layout__content">
        <h1 class="base-title base-title--lvl-1">
            [[${userForm.nom}]] [[${userForm.prenom}]] ([[${userForm.utilisateur}]])
        </h1>

        <input
            type="hidden"
            id="urlPreviousPage"
            name="urlPreviousPage"
            th:value="@{|${urlPreviousPage}#main_content|}"
        />
        <input type="hidden" id="logout_on_success" name="logout_on_success" th:value="${logoutOnSuccess}" />

        <form id="update_password_form" method="POST">
            <input type="hidden" name="csrf-token" th:value="${csrftoken}" />
            <div class="row-actions grid__row">
                <div class="row-actions__left">
                    <button
                        type="button"
                        onClick="goPreviousPage();"
                        class="base-btn base-btn--button base-btn--default base-btn--light base-btn--transparent base-btn--bordered"
                    >
                        [[#{admin.user.button.cancel}]]
                    </button>
                </div>
                <div class="row-actions__right">
                    <input
                        type="submit"
                        th:value="#{admin.user.button.save}"
                        class="base-btn base-btn--button base-btn--default"
                    />
                </div>
            </div>

            <input type="hidden" id="userId" name="userId" th:value="${userForm.utilisateur}" />

            <div
                th:replace="fragments/components/password-form-input :: passwordFormInput(showTooltip=true, showPlaceholder=false, label=#{admin.user.label.password}, fullVerif=true, inputId='password_input')"
            ></div>

            <div class="row-actions grid__row">
                <div class="row-actions__left">
                    <button
                        type="button"
                        onClick="goPreviousPage();"
                        class="base-btn base-btn--button base-btn--default base-btn--light base-btn--transparent base-btn--bordered"
                    >
                        [[#{admin.user.button.cancel}]]
                    </button>
                </div>
                <div class="row-actions__right">
                    <input
                        type="submit"
                        th:value="#{admin.user.button.save}"
                        class="base-btn base-btn--button base-btn--default"
                    />
                </div>
            </div>
        </form>
    </main>
</html>
