<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <a
            href="#skip_link_roadmap-table_prev"
            id="skip_link_roadmap-table_next"
            class="skip-link"
            th:text="#{roadmap.skip.link.before}"
            >Passer le tableau 'roadmap' pour arriver après</a
        >
        <div class="table-wrapper">
            <table th:fragment="tableModeleFdr(dto)" class="custom-table custom-table--has-check m-t-1-1155">
                <caption class="sr-only" th:text="#{roadmap.caption(${dto.table.lines.size()})}">
                    Tableau de n étapes regroupées par branches en série ou en parallèle
                </caption>
                <thead th:replace="fragments/modele/headerFdr :: headerFdr"></thead>
                <tbody class="custom-table__body">
                    <th:block th:each="line,status : ${dto.table.lines}">
                        <th:block
                            th:replace="fragments/modele/ligneTableFdr :: ligneTableFdr(${status.index})"
                        ></th:block>
                    </th:block>
                </tbody>
            </table>
        </div>
        <a
            href="#skip_link_roadmap-table_next"
            id="skip_link_roadmap-table_prev"
            class="skip-link"
            th:text="#{roadmap.skip.link.after}"
            >Passer le tableau 'roadmap' pour arriver avant</a
        >
    </body>
</html>
