<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="modal-add-document"
            class="interstitial-overlay__content"
            th:with="id='modal-add-document'"
            th:id="${id}"
        >
            <div class="interstitial" role="dialog" aria-labelledby="dialogTitle-addDocument">
                <div class="interstitial__header">
                    <h1
                        id="dialogTitle-addDocument"
                        class="interstitial__title"
                        th:text="#{fondDossier.button.addDocument}"
                    >
                        Ajouter un document
                    </h1>
                    <button
                        type="button"
                        class="interstitial__close base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--cross"></span
                        ><span class="sr-only" th:text="#{fondDossier.popup.close}">Fermer</span>
                    </button>
                </div>
                <div class="interstitial__content">
                    <p class="m-a-0" th:text="#{fondDossier.title.ajout}"></p>
                    <p
                        class="m-a-0"
                        id="fileTypes"
                        th:text="|${#strings.listJoin(fondDto.acceptedFileTypes,', ')}.|"
                    ></p>
                    <p class="m-a-0" th:text="#{fondDossier.title.ajout.texte}"></p>
                    <br />
                    <div
                        th:replace="fragments/components/formblocks/file-input:: 
                            fileInput(null, 'documentFileAdd', 'documentFileAdd', true, ${fondDto.acceptedFileTypes}, false)"
                    ></div>
                </div>

                <input type="hidden" id="groupId" name="groupId" />
                <input type="hidden" id="acceptedFileTypes" name="acceptedFileTypes" />

                <div class="interstitial__footer">
                    <button
                        class="interstitial__button base-btn base-btn--button base-btn--default base-btn--light base-btn--center base-btn--transparent base-btn--bordered"
                        th:text="#{button.label.cancel}"
                    >
                        Annuler
                    </button>
                    <button
                        class="base-btn base-btn--submit base-btn--default"
                        th:id="|btn-confirm-${id}|"
                        th:text="#{button.label.save}"
                    >
                        Sauvegarder
                    </button>
                </div>
            </div>
            <div tabindex="-1" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
