<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="modeleFdrSearchGeneralInput(searchForm, typeActe)">
            <div class="grid__row m-t-3 m-b-6">
                <div class="grid__col grid__col--middle form-input">
                    <div class="form-input__header">
                        <div class="form-input__header-top">
                            <label
                                for="intitule_modele"
                                id="form_modele_intitule_label"
                                class="form-label"
                                th:text="#{admin.modele.recherche.critereModele.intitule}"
                            >
                                Intitulé
                            </label>
                        </div>
                    </div>
                    <div class="form-input__container">
                        <input
                            type="text"
                            name="intitule_modele"
                            id="intitule_modele"
                            class="form-input__field form-input__field--type-text"
                            th:value="${searchForm.intitule}"
                            data-validation="query_param"
                        />
                    </div>
                    <div id="intitule_modele_description" class="form-input__footer"></div>
                </div>
            </div>
            <div class="grid__row m-b-6">
                <div class="grid__col grid__col--middle">
                    <th:block
                        th:replace="fragments/components/organigrammeSelectAutocomplete ::organigrammeSelectAutocomplete(
			              'admin.modele.recherche.critereModele.ministere',
			              false,
			              'ministere_modele',
			              'ministere_modele-key',
			              'MIN', 
			              ${searchForm.ministere}, 
			              false,
			              false,
			              ${searchForm.mapMinistere},
			              false)"
                    ></th:block>
                </div>
            </div>
        </th:block>
    </body>
</html>
