<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>[[#{login.resetpwd.page.title}]]</title>
        <link rel="icon" type="image/png" th:href="@{/icons/favicon.png?r=__${buildVersion}__}" />
        <link rel="shortcut icon" th:href="@{/icons/favicon.ico?r=__${buildVersion}__}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/external/roboto.css?r=__${buildVersion}__}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/external/sourcesanspro.css?r=__${buildVersion}__}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/external/swipper.min.css?r=__${buildVersion}__}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/transverse.css?r=__${buildVersion}__}" />
        <th:block th:replace="fragments/requiredCSS :: requiredCSS"></th:block>
    </head>
    <body>
        <div class="page-layout page-login">
            <nav role="navigation" th:aria-label="#{acces.rapide}">
                <ul class="blind-navigation">
                    <li class="blind-navigation__item">
                        <a href="#main_content" class="blind-navigation__link" th:text="#{skip.link.contenu}">
                            Aller au contenu
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="page-login__inner">
                <header role="banner" class="page-login__header p-y-6 p-x-4">
                    <div class="page-login__header__inner flex items-start">
                        <div class="page-login__header__logo">
                            <img th:src="@{/img/logopm.png}" alt="" width="100" height="110" />
                        </div>
                        <div class="page-login__header__text m-t-1 m-l-3">
                            <p class="base-title base-title--lvl-1 m-b-4" th:utext="${config.name}">Nom application</p>
                            <p th:text="#{application.presentation.texte}">Présentation</p>
                        </div>
                    </div>
                </header>

                <div class="page-layout__container">
                    <aside id="sidebar" class="sidebar sidebar--is-opened leftbar p-x-4">
                        <div id="sidebar__content" aria-hidden="false" class="sidebar__content">
                            <div class="page-layout__content--dark m-y-6"></div>
                        </div>
                    </aside>

                    <main id="main_content" class="page-layout__content p-x-6">
                        <div class="page-login__content">
                            <input type="hidden" id="ajaxCallPath" th:value="@{/ajax}" />
                            <div th:replace="fragments/resetPasswordForm :: resetPasswordForm "></div>
                        </div>
                    </main>
                </div>
                <footer class="base-footer">
                    <p class="base-footer__version" th:utext="|${config.name} version : ${config.version}|">Version</p>
                    <a
                        class="link"
                        th:href="${conditionsAccessUrl}"
                        target="_blank"
                        th:title="#{link.new.window(#{footer.link.conditions.acces})}"
                    >
                        [[#{footer.link.conditions.acces}]]
                        <span aria-hidden="true" class="icon icon--external link__icon link__icon--append"></span>
                    </a>

                    <div class="environment">
                        <p
                            th:if="${!config.production}"
                            class="badge-sword"
                            th:style="'color:#' + ${config.color} + '; background-color:#' + ${config.backgroundColor}"
                            th:utext="${config.environmentName}"
                        ></p>
                    </div>
                </footer>

                <div class="back-to-top">
                    <button
                        type="button"
                        class="back-to-top__icon base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--arrow-top"></span
                        ><span class="sr-only">[[#{login.retourHautPage}]]</span>
                    </button>
                </div>
            </div>
        </div>

        <script th:src="@{/scripts/external/jquery-3.6.0.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/bootstrap.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/popper.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/purify-2.2.9.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/tippy.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/tinymce/tinymce.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/swipper.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/transverse.js?r=__${buildVersion}__}"></script>
    </body>
</html>
