<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- Fragment formulaire recherche dans dossier/journal -->
        <div th:fragment="journal-technique-recherche">
            <input type="hidden" id="ajaxSearchEndpoint" th:value="${ajaxSearchEndpoint}" />
            <input type="hidden" id="dataUrl" th:value="${dataUrl}" />
            <form id="searchForm">
                <div class="page-layout__content--dark m-y-6 p-a-5">
                    <div class="grid__row m-t-3 m-b-6">
                        <div class="form-input form-date-interval grid__col grid__col--middle">
                            <div
                                th:replace="fragments/components/formblocks/date-picker-range :: datepickerRange('journal.label.periode', 'date', ${journalForm.dateDebut}? ${journalForm.dateDebut} : ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}, ${journalForm.dateFin}, false, false)"
                            ></div>
                        </div>
                        <div id="form_reference_id" class="grid__col grid__col--middle form-input">
                            <div class="form-input__header">
                                <div class="form-input__header-top">
                                    <label
                                        for="referenceDossier"
                                        id="form_referenceDossier_label"
                                        class="form-label"
                                        th:text="#{journal.label.refDossier}"
                                        >Dossier</label
                                    >
                                </div>
                            </div>
                            <div class="form-input__container">
                                <input
                                    type="text"
                                    name="referenceDossier"
                                    id="referenceDossier"
                                    data-isForm="true"
                                    class="form-input__field form-input__field--type-text"
                                    th:value="${journalForm.referenceDossier}"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="grid__row m-b-6">
                        <div class="form-input grid__col grid__col--middle">
                            <div
                                th:replace="fragments/components/formblocks/autocomplete-select :: autocompleteSelect('journal.label.utilisateur', 'utilisateur', 'utilisateur-key', 'form.description.nocharlimit', ${ {} }, ${journalForm.mapUtilisateur}, false, @{/ajax/organigramme/suggestions?typeSelection=USR}, '0', 'input', 'key', 'label', false, false, false)"
                            ></div>
                        </div>
                        <div class="grid__col grid__col--middle form-select form-select--simple">
                            <div
                                th:replace="fragments/components/formblocks/simple-select ::simpleSelect('journal.label.content.header.categorie','categorie','',${categories},${journalForm.categorie},'','journal.label.choix.categorie')"
                            ></div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-between">
                    <button
                        id="btn-reinitSearch-jt"
                        type="button"
                        class="base-btn base-btn--button base-btn--default base-btn--light base-btn--transparent base-btn--bordered"
                        onclick="doReinitFilterSearch()"
                        th:text="#{journal.label.search.reinit}"
                    >
                        Réinitialiser
                    </button>
                    <button
                        id="journalTechniqueSearch"
                        class="base-btn base-btn--submit base-btn--default base-btn--center"
                        onclick="doSearchJournalTechnique()"
                        type="button"
                        th:text="#{journal.label.search}"
                    >
                        Rechercher
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
