<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="date(widget)">
            <div class="form-input__header">
                <div class="form-label form-input__header-top">
                    <label
                        th:for="${widget.name}"
                        th:id="|${widget.name}_label|"
                        class="form-label"
                        th:classappend="${disabled ? 'form-label--disabled' : ''}"
                    >
                        <th:block th:text="#{${widget.label}}">label du widget</th:block>
                        <span
                            th:if="${categorie == null && widget.required}"
                            class="form-label__required-text"
                            th:text="#{form.required.label}"
                            >requis</span
                        >
                    </label>
                    <div class="form-input__icon-group"></div>
                </div>
                <div class="form-input__header-bottom">
                    <p
                        th:id="|label_header_bottom_form_input-${id}|"
                        class="form-input__description form-input__description--default"
                        th:classappend="${disabled ? 'form-label--disabled' : ''}"
                    ></p>
                </div>
            </div>
            <div class="form-input__container labellised-list-epp__description rightBlocWidget">
                <fieldset class="form-date-interval__fieldset">
                    <legend class="sr-only" th:text="#{label.datepicker.sronly}">Légende</legend>
                    <th:block
                        th:replace="fragments/components/input-date-picker :: inputDatePicker('', ${widget.name}, ${widget.name}, ${widget.required}, ${widget.getValueParamByName('valeur')}, false)"
                    ></th:block>
                </fieldset>
            </div>
            <div th:id="|${widget.name}_description|" class="form-input__footer"></div>
        </th:block>
    </body>
</html>
