<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="inputText(widget)" th:with="disabled=false">
            <div class="form-input__header">
                <div class="form-label form-input__header-top">
                    <label
                        th:for="${widget.name}"
                        th:id="|${widget.name}_label|"
                        class="form-label"
                        th:classappend="${disabled ? 'form-label--disabled' : ''}"
                    >
                        <th:block th:text="#{${widget.label}}">label du widget</th:block>
                        <span
                            th:if="${categorie == null && widget.required}"
                            class="form-label__required-text"
                            th:text="#{form.required.label}"
                            >requis</span
                        >
                    </label>
                    <div class="form-input__icon-group"></div>
                </div>
                <div class="form-input__header-bottom">
                    <p
                        th:id="|label_header_bottom_form_input-${id}|"
                        class="form-input__description form-input__description--default"
                        th:classappend="${disabled ? 'form-label--disabled' : ''}"
                    ></p>
                </div>
            </div>
            <th:block th:if="${widget.getValueParamByName('autocomplete') == 'true'}">
                <div class="form-input__container labellised-list-epp__description rightBlocWidget">
                    <p
                        class="form-input__description form-input__description--default"
                        th:text="#{form.description.nocharlimit}"
                    >
                        nombre minimal de caractères
                    </p>
                    <div class="form-select__field-wrapper form-select__field-wrapper--tags">
                        <div class="form-select-input-autocomplete">
                            <select
                                th:name="${widget.name}"
                                th:id="${widget.name}"
                                th:aria-describedby="|label_header_bottom_form-select-autocomplete-multiple-${widget.name}|"
                                class="form-select-input-autocomplete__field js-aria-autocomplete-select-tags aria-autocomplete--hide hide hidden js-aria-autocomplete-select-with-async"
                                aria-hidden="true"
                                hidden="hidden"
                                th:data-url="@{'/ajax/recherche/suggestions?typeSelection='+${widget.name}}"
                                th:data-dynamic-input="|inclure-${widget.name},emetteur|"
                                data-min-length="0"
                                data-query-param="input"
                                data-key-mapping="key"
                                data-label-mapping="label"
                                th:data-validation="${widget.required}? 'required'"
                                data-accepts-custom-tags="false"
                            >
                                <th:block
                                    th:if="${ widget.getValueParamByNameOrNull('lstSuggestValues') !=null && not #lists.isEmpty(widget.getValueParamByName('lstSuggestValues'))}"
                                >
                                    <th:block th:each="value : ${widget.getValueParamByName('lstSuggestValues')}">
                                        <option
                                            th:value="${value.key}"
                                            th:text="${value.label}"
                                            selected="selected"
                                        ></option>
                                    </th:block>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div
                        class="form-choice-input"
                        th:unless="${widget.getValueParamByName('labelInclure') == 'labelInclure'}"
                    >
                        <input
                            type="checkbox"
                            th:id="|inclure-${widget.name}|"
                            name="inclure"
                            class="form-choice-input__input"
                        /><label
                            th:for="|inclure-${widget.name}|"
                            th:id="|form_checkbox_inclure-${widget.name}|"
                            class="form-label form-choice-input__label form-choice-input__label--checkbox"
                            ><span th:text="#{${widget.getValueParamByName('labelInclure')}}"
                                >label inclure
                            </span></label
                        >
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${widget.getValueParamByName('autocomplete') == 'true'}">
                <div class="form-input__container labellised-list-epp__description rightBlocWidget">
                    <input
                        type="text"
                        th:id="${widget.name}"
                        th:name="${widget.name}"
                        class="form-input__field form-input__field--type-text"
                        th:value="${widget.getValueParamByName('valeur')}"
                        th:data-validation="${widget.required} ? 'required'"
                    />
                </div>
            </th:block>
            <div th:id="|${widget.name}_description|" class="form-input__footer"></div>
        </th:block>
    </body>
</html>
