<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="multipleDate(widget)" class="grid__col--full-width">
            <div class="flex justify-start items-start rightBlocWidget">
                <div class="flex flex-col">
                    <div class="form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label th:for="${widget.name}" th:id="|${widget.name}_label|" class="form-label"
                                    ><th:block th:text="#{${widget.label}}"></th:block>

                                    <span th:if="${widget.required}" class="form-label__required-text"
                                        >[[#{form.required.label}]]</span
                                    >
                                </label>
                            </div>
                        </div>
                        <div
                            th:with="hideFormat=true"
                            th:classappend="${widget.modifiedInCurVersion ? 'labellised-list__description--warning' : ''}"
                        >
                            <th:block
                                th:replace="fragments/components/input-date-picker :: inputDatePicker('', '', ${widget.name}, false, '', false)"
                            ></th:block>
                        </div>
                        <div th:id="|${widget.name}_description|" class="form-input__footer"></div>
                    </div>
                    <div aria-live="assertive" aria-relevant="additions removals" class="multiple-dates">
                        <div class="flex justify-between items-center m-t-2 multiple-date">
                            <ul th:class="|list-value-date-${widget.name}|">
                                <th:block th:each="item : ${widget.getValueParamByNameOrNull('lstValues')}">
                                    <li>
                                        [[${item}]]
                                        <input
                                            type="hidden"
                                            th:name="${widget.name}"
                                            th:value="${item}"
                                            multiple
                                            data-validation="required"
                                        />
                                        <span
                                            class="icon icon--cross-bold link__icon link__icon--append"
                                            onclick="$(this).closest('li').remove()"
                                            aria-hidden="true"
                                        ></span>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
                <button
                    type="button"
                    class="base-btn base-btn--button base-btn--default base-btn--light base-btn--center base-btn--transparent base-btn--uppercased p-t-7"
                    th:attr="onclick=|addValeurToList(this, '${widget.name}')|"
                >
                    <th:block th:text="#{multiple.date.add}"></th:block>
                    <span
                        class="base-btn__icon base-btn__icon--vertical-center base-btn__icon--left icon icon--plus"
                        aria-hidden="true"
                    ></span>
                </button>
            </div>
        </th:block>
    </body>
</html>
