<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="niveauLecture(widget)">
            <div class="form-input">
                <div class="form-input__header">
                    <div class="form-input__header-top">
                        <label class="form-label"
                            ><th:block th:text="#{${widget.label}}"></th:block>
                            <span
                                th:if="${widget.required}"
                                class="form-label__required-text"
                                th:text="#{form.input.required}"
                            >
                                (Requis)</span
                            >
                        </label>
                        <div class="form-input__icon-group"></div>
                    </div>
                </div>
                <div class="form-input__container">
                    <div id="niveauLectureNumeroInput">
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="niveauLectureNumero"
                                id="niveauLectureNumero"
                                aria-describedby="form_input_description label_header_bottom_form_input"
                                class="form-input__field form-input__field--type-text"
                                th:value="${widget.getValueParamByName('niveauLectureNumero')}"
                            />
                        </div>
                        <div id="form_input_description" class="form-input__footer"></div>
                    </div>

                    <div class="form-select form-select--simple" id="niveauLectureSelect">
                        <div class="form-select__field-wrapper">
                            <div class="form-select-input">
                                <select
                                    name="niveauLecture"
                                    id="niveauLecture"
                                    aria-describedby="form-select-default_field_description form-select-default_description"
                                    class="form-select-input__field form-select-input__field--simple"
                                    onchange="showHideNiveauLecture(this.value)"
                                    th:data-validation="${widget.required}? 'required'"
                                >
                                    <option value="">[[#{communicationSuccessive.select.default}]]</option>
                                    <option
                                        th:each="item : ${widget.getValueParamByName('lstNiveauLecture')}"
                                        th:value="${item.id}"
                                        th:text="${item.label}"
                                        th:selected="${widget.getValueParamByName('valeur') == item.id}"
                                    ></option>
                                </select>
                                <span aria-hidden="true" tabindex="-1">
                                    <span
                                        aria-hidden="true"
                                        class="form-select-input__arrow icon icon--arrow-bottom"
                                    ></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:id="|${widget.name}_description|" class="form-input__footer"></div>
            </div>
        </th:block>
    </body>
</html>
