<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="optinRadio(widget)">
            <div class="form-optin">
                <fieldset class="form-optin__fieldset">
                    <legend class="form-label" th:text="#{${widget.label}}"></legend>
                    <div class="form-optin__optins">
                        <div class="form-optin__container">
                            <input
                                type="radio"
                                value="true"
                                th:id="|optin-${widget.name}-oui|"
                                th:name="${widget.name}"
                                class="form-optin__checkbox"
                                th:checked="${widget.getValueParamByNameOrNull('valeur')}"
                                autocomplete="off"
                            /><label
                                th:for="|optin-${widget.name}-oui|"
                                class="form-optin__label"
                                th:text="#{optin.oui}"
                            >
                            </label>
                        </div>
                        <div class="form-optin__container">
                            <input
                                type="radio"
                                value="false"
                                th:id="|optin-${widget.name}-non|"
                                th:name="${widget.name}"
                                class="form-optin__checkbox"
                                th:checked="${!widget.getValueParamByNameOrNull('valeur')}"
                                autocomplete="off"
                            /><label
                                th:for="|optin-${widget.name}-non|"
                                class="form-optin__label"
                                th:text="#{optin.non}"
                            >
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </th:block>
    </body>
</html>
