<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout  :: layout (template=~{::main},templateClass='', description='page administration', title=#{menu.admin.user.organigramme.title})}"
>
    <main role="main" id="main_content" class="page-layout__content">
        <div
            class="row-actions"
            th:if="${(organigrammeBaseActions !=null && !organigrammeBaseActions.isEmpty()) or (organigrammeMainActions !=null && !organigrammeMainActions.isEmpty())}"
        >
            <div
                class="row-actions__left"
                th:if="${organigrammeBaseActions !=null && !organigrammeBaseActions.isEmpty()}"
            >
                <th:block th:each="action : ${organigrammeBaseActions}">
                    <button
                        th:replace="fragments/components/label-action-button-fixed :: label-action-button-fixed(${action}, false, 'base-btn--bordered base-btn--light' )"
                    ></button>
                </th:block>
            </div>
            <div
                class="row-actions__right"
                th:if="${organigrammeMainActions !=null && !organigrammeMainActions.isEmpty()}"
            >
                <th:block th:each="action : ${organigrammeMainActions}">
                    <button
                        th:replace="fragments/components/label-action-button-fixed :: label-action-button-fixed(${action}, false, ${action.type == 'secondary'?'base-btn--center base-btn--secondary':'base-btn--center'})"
                    ></button>
                </th:block>
            </div>
        </div>

        <h1
            class="base-title base-title--lvl-1 organigramme-title base-title--is-underlined p-b-3 m-b-6"
            th:text="#{menu.admin.user.organigramme.title}"
        >
            Gestion de l'organigramme
        </h1>

        <input
            type="hidden"
            id="urlPreviousPage"
            name="urlPreviousPage"
            th:value="@{/admin/organigramme/consult#main_content}"
        />
        <fieldset class="form-optin__fieldset m-b-10">
            <legend class="form-optin__legend">
                <span th:text="#{organigramme.view.afficherElements}">Afficher les éléments</span>
            </legend>
            <div class="form-optin__optins">
                <div class="form-optin__container">
                    <input
                        type="radio"
                        id="elts_actifs"
                        name="form-radio-button-column"
                        class="form-optin__checkbox"
                        onchange="onChangeOrganigrammeDisplayMode(false)"
                        th:attrappend="checked=${!showDeactivated} ? 'checked'"
                        autocomplete="off"
                    />
                    <label for="elts_actifs" id="elts_actifs_label" class="form-optin__label">
                        <span th:text="#{organigramme.view.activElement}">Actifs</span>
                    </label>
                </div>
                <div class="form-optin__container">
                    <input
                        type="radio"
                        id="elts_tous"
                        name="form-radio-button-column"
                        class="form-optin__checkbox"
                        onchange="onChangeOrganigrammeDisplayMode(true)"
                        th:attrappend="checked=${showDeactivated} ? 'checked'"
                        autocomplete="off"
                    />
                    <label for="elts_tous" id="elts_tous_label" class="form-optin__label">
                        <span th:text="#{organigramme.view.activAndInactivElement}">Actifs et Inactifs</span>
                    </label>
                </div>
            </div>
        </fieldset>

        <div id="organigrammeTree" style="position: relative;">
            <div
                th:replace="fragments/components/organigrammeArbre :: organigrammeArbre(${organigrammeTree}, 1, 'organigramme', true)"
            ></div>
        </div>

        <div
            class="row-actions"
            th:if="${(organigrammeBaseActions !=null && !organigrammeBaseActions.isEmpty()) or (organigrammeMainActions !=null && !organigrammeMainActions.isEmpty())}"
        >
            <div
                class="row-actions__left"
                th:if="${organigrammeBaseActions !=null && !organigrammeBaseActions.isEmpty()}"
            >
                <th:block th:each="action : ${organigrammeBaseActions}">
                    <button
                        th:replace="fragments/components/label-action-button-fixed :: label-action-button-fixed(${action}, false, 'base-btn--bordered base-btn--light')"
                    ></button>
                </th:block>
            </div>
            <div
                class="row-actions__right"
                th:if="${organigrammeMainActions !=null && !organigrammeMainActions.isEmpty()}"
            >
                <th:block th:each="action : ${organigrammeMainActions}">
                    <button
                        th:replace="fragments/components/label-action-button-fixed :: label-action-button-fixed(${action}, false, ${action.type == 'secondary'?'base-btn--center base-btn--secondary':'base-btn--center'})"
                    ></button>
                </th:block>
            </div>
        </div>

        <!-- Modale de confirmation de la suppression d'un noeud -->
        <div th:replace="fragments/components/organigramme-node-suppression :: organigramme-node-suppression"></div>
        <!-- Modale import d'un nouveau gouvernement -->
        <div th:replace="fragments/components/modal-import-gouvernement :: modal-import-gouvernement"></div>
    </main>
</html>
