<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    lang="fr"
    class="no-js"
    dir="ltr"
    th:fragment="layout (template, templateClass, description, title)"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
    <head th:replace="fragments/headFragment :: headFragment "></head>

    <body>
        <noscript>
            <p class="js-off">Javascript est desactivé dans votre navigateur.</p>
        </noscript>

        <!--[if lt IE 8]>
            <div class="browsehappy">
                <div class="container">
                    <p>Savez-vous que votre navigateur est obsolète ?</p>
                    <p>
                        Pour naviguer de la manière la plus satisfaisante sur le Web, nous vous recommandons de procéder
                        à une
                        <a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie"
                            >mise à jour de votre navigateur</a
                        >. <br />Vous pouvez aussi
                        <a href="http://browsehappy.com/">essayer d’autres navigateurs web populaires</a>.
                    </p>
                </div>
            </div>
        <![endif]-->
        <div class="page-layout" th:classappend="${templateClass}">
            <header class="header" role="banner">
                <div class="header-lt" th:replace="fragments/headerblocks/appPresentation :: appPresentation"></div>
            </header>
            <div class="page-layout__container">
                <th:block th:if="${template!=null}">
                    <main role="main" id="main_content" class="main" th:replace="${template}"></main>
                </th:block>
            </div>
            <footer
                role="contentinfo"
                th:if="${footer_blocks != null}"
                th:replace="fragments/footer :: footer"
            ></footer>
            <div class="back-to-top">
                <button
                    type="button"
                    class="back-to-top__icon base-btn base-btn--button base-btn--default base-btn--discret"
                >
                    <span aria-hidden="true" class="icon icon--arrow-top"></span>
                    <span class="sr-only">Retour en haut de page</span>
                </button>
            </div>
            <footer class="base-footer">
                <div class="base-footer__version">
                    <p th:utext="|${config.name} version : ${config.version}|">Version</p>
                </div>
            </footer>
        </div>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script th:src="@{/scripts/external/jquery-3.6.0.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/bootstrap.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/popper.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/purify-2.2.9.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/tippy.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/tinymce/tinymce.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/swipper.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/dual-listbox.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/external/aria-autocomplete.min.js?r=__${buildVersion}__}"></script>
        <script th:src="@{/scripts/transverse.js?r=__${buildVersion}__}"></script>
        <th:block th:replace="fragments/requiredScripts :: requiredScripts"></th:block>
        <script th:src="@{/scripts/specific.js?r=__${buildVersion}__}"></script>
    </body>
</html>
