<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout  :: layout (template=~{::main},templateClass='', description='Page de la gestion des actualités', title=#{actualites.historique.title})}"
>
    <main role="main" id="main_content" class="page-layout__content">
        <div class="heading-complex m-b-6">
            <div class="heading-complex__main">
                <h1 class="base-title base-title--lvl-1">
                    [[#{actualites.historique.title}]]
                </h1>
                <p class="heading-complex__subtitle base-subtitle">
                    [[#{actualites.gestion.nb.actualite(${#lists.size(resultList.liste)})}]]
                </p>
            </div>
            <div class="heading-complex__options"></div>
        </div>
        <div class="m-b-6 accordion">
            <button
                aria-controls="accordion__content__accordion-general"
                aria-expanded="true"
                id="accordion__header__accordion-general"
                data-toggle="accordion__content"
                data-icon-opened="substract"
                data-icon-closed="add"
                class="accordion__header js-toggle accordion__header--default"
            >
                [[#{actualites.gestion.filtrer.sur}]]
                <span aria-hidden="true" class="icon icon--substract accordion__icon accordion__icon--default"></span>
            </button>
            <div
                aria-hidden="false"
                id="accordion__content__accordion-general"
                class="accordion__content accordion__content--accordion--default accordion__content--is-opened accordion__content--has-background"
            >
                <form class="p-l-4 p-r-4" id="searchForm">
                    <div class="grid__row m-t-3 m-b-6">
                        <div
                            class="form-input form-date-interval grid__col grid__col--middle"
                            description="Format : JJ/MM/AAAA"
                        >
                            <th:block
                                th:replace="fragments/components/formblocks/date-picker-range :: datepickerRange(
                                'actualites.date.emission.label', 
                                'dateEmission', 
                                ${#calendars.format(resultForm.dateEmissionDebut,'dd/MM/yyyy')},
                                ${#calendars.format(resultForm.dateEmissionFin,'dd/MM/yyyy')},
                                'false', 
                                'false')"
                            ></th:block>
                        </div>
                    </div>
                    <div class="grid__row m-b-6">
                        <div class="form-input grid__col grid__col--full-witdh">
                            <div class="form-input__header">
                                <div class="form-input__header-top">
                                    <label for="objet" id="objet_label" class="form-label">
                                        [[#{actualites.objet}]]
                                    </label>
                                </div>
                                <div class="form-input__header-bottom">
                                    <p
                                        id="label_header_bottom_form_objet"
                                        class="form-input__description form-input__description--default"
                                    >
                                        [[#{actualites.objet.description}]]
                                    </p>
                                </div>
                            </div>
                            <div class="form-input__container">
                                <input
                                    type="text"
                                    name="objet"
                                    id="objet"
                                    aria-labelledby="objet_label"
                                    aria-describedby="objet_description label_header_bottom_form_objet"
                                    class="form-input__field form-input__field--type-text"
                                    th:value="${resultForm.objet}"
                                />
                            </div>
                            <div id="objet_description" class="form-input__footer"></div>
                        </div>
                    </div>
                    <div class="grid__row">
                        <div class="grid__col grid__col--middle">
                            <div
                                th:replace="fragments/components/formblocks/input-oui-non :: ouiNon('actualites.gestion.actualite.pj', 'hasPj', ${resultForm.hasPj}, false)"
                            ></div>
                        </div>
                    </div>
                    <div class="flex justify-between m-t-6 m-b-3">
                        <button
                            type="button"
                            id="btn-reinitialiser-filtres"
                            class="m-r-3 base-btn base-btn--button base-btn--default base-btn--light base-btn--center base-btn--transparent base-btn--bordered"
                            onclick="reinitFilterHistoNews()"
                        >
                            [[#{actualites.gestion.btn.reinitialiser.filtre.label}]]
                        </button>
                        <button
                            type="button"
                            id="btn-filtrer-actualites"
                            class="base-btn base-btn--submit base-btn--default base-btn--center"
                            onclick="getHistoResults()"
                        >
                            [[#{actualites.gestion.btn.filtrer.label}]]
                        </button>
                    </div>
                </form>
                <!---->
            </div>
        </div>

        <div th:replace="fragments/actualites/result-historiqueActualites :: historiqueActualitesResults"></div>
    </main>
</html>
