<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            id="reset_password_overlay"
            class="interstitial-overlay__content"
            th:classappend="${isPasswordReset}? 'interstitial-overlay__content--visible'"
            th:fragment="resetPassword"
        >
            <div
                id="reset_password_dialog"
                role="dialog"
                aria-labelledby="dialog_title_reset_password"
                class="interstitial interstitial--small"
            >
                <div class="interstitial__header">
                    <h1 id="dialog_title_reset_password" class="interstitial__title" th:text="#{reset.password.title}">
                        Titre
                    </h1>
                </div>
                <div id="reset_passwword_success" style="display: none;">
                    <div class="interstitial__content">
                        <p class="base-paragraph" th:text="#{reset.password.content.success}">Succès</p>
                        <p class="base-paragraph" th:text="#{reset.password.content.reconnect}">Reconnexion</p>
                    </div>
                    <div class="interstitial__footer">
                        <a
                            th:href="@{/logout}"
                            class="interstitial__button base-btn base-btn--button base-btn--default base-btn--center"
                            th:text="#{button.label.reconnect}"
                            >Me reconnecter</a
                        >
                    </div>
                </div>
                <form id="reset_password_form" method="POST">
                    <input type="hidden" name="csrf-token" th:value="${csrftoken}" />
                    <div class="interstitial__content">
                        <p class="base-paragraph" th:text="#{reset.password.content}">Contenu</p>
                        <p
                            class="base-paragraph error-message"
                            id="reset_password_error"
                            style="display: none;"
                            th:text="#{reset.password.content.error}"
                        >
                            Erreur
                        </p>
                        <div class="login-form__container">
                            <div
                                th:replace="fragments/components/password-form-input :: passwordFormInput(true, false)"
                            ></div>
                        </div>
                    </div>
                    <div class="interstitial__footer">
                        <button
                            type="submit"
                            class="interstitial__button base-btn base-btn--button base-btn--default base-btn--center"
                            th:text="#{button.label.save}"
                        >
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
            <div tabindex="-1" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
