<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="searchResults(corbeille)"
            class="tableForm"
            th:data-url="@{${dataUrl}}"
            th:data-ajaxurl="@{${dataAjaxUrl}}"
            id="listeCommunications"
        >
            <div class="overlay" id="result_overlay" aria-live="polite">
                <img width="29" height="29" alt="" th:src="@{/img/loader.svg}" />
            </div>

            <th:block th:if="${#lists.isEmpty(resultList.liste)}">
                <br />
                <h2
                    class="search-result-form__title base-title base-title--lvl-2"
                    th:text="#{corbeille.communication.title}"
                ></h2>
                <h3
                    class="search-result-form__subtitle base-title base-title--lvl-3"
                    th:text="#{recherche.result.communication.aucun}"
                ></h3>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(resultList.liste)}">
                <th:block th:if="${resultVisible}">
                    <h2
                        class="m-t-8 m-b-6 base-title base-title--lvl-2"
                        th:text="#{corbeille.communication.title}"
                    ></h2>
                    <h3
                        class="m-y-6 p-b-2 base-title base-title--lvl-3 base-title--is-underlined"
                        th:text="#{recherche.result.communication.nombre(${resultList.nbTotal})}"
                    ></h3>
                    <div id="focusResultat" tabindex="-1"></div>
                </th:block>
                <th:block th:unless="${resultForm.defaultSize >= resultList.nbTotal}">
                    <div
                        th:replace="fragments/components/nombre-document-page :: documentParPage(${resultForm}, 'com_haut')"
                    ></div>
                </th:block>
                <a
                    class="skip-link"
                    id="skip_link_action-table_next"
                    href="#skip_link_action-table_prev"
                    th:text="#{skip.link.table.prev(#{corbeille.communications.title})}"
                >
                </a>

                <div class="m-t-6 table-action">
                    <div class="table-action__action-container table-action__action-container--disabled"></div>
                    <div class="table-action__action-container table-action__action-container--right">
                        <th:block th:unless="${resultList.liste.size == resultList.nbTotal}">
                            <nav
                                th:replace="fragments/table/pagination :: pagination (${resultForm},${resultForm.page}, 'com_haut', ${resultList.nbTotal})"
                                role="navigation"
                            ></nav>
                            <input type="hidden" name="page" data-field="page" th:value="${resultForm.page}" />
                        </th:block>
                    </div>
                </div>
                <div class="table-wrapper">
                    <table class="custom-table">
                        <caption class="sr-only" th:text="#{corbeille.communications.title}"></caption>

                        <thead class="table-header custom-table__header">
                            <tr class="table-header__line">
                                <th:block th:each="colonne : ${lstColonnes}">
                                    <th:block th:if="${colonne.visible && colonne.sortable}">
                                        <th
                                            scope="col"
                                            class="table-header__cell table-header__cell--with-filter-action"
                                        >
                                            <button
                                                th:replace="fragments/table/sortableHeader :: sortableHeader (#{__${colonne.label}__},${colonne.sortValue},${colonne.sortName},${colonne.sortId}, false)"
                                            ></button>
                                        </th>
                                    </th:block>

                                    <th:block th:if="${colonne.visible && !colonne.sortable}">
                                        <th scope="col" class="table-header__cell">
                                            <span
                                                class="tabla-header__cell-inner"
                                                th:text="${colonne.label !=null? #messages.msg(colonne.label) : ''}"
                                            >
                                                &nbsp;
                                            </span>
                                            <span
                                                class="sr-only"
                                                th:text="${colonne.label !=null? #messages.msg(colonne.label) : 'Etat'}"
                                            ></span>
                                        </th>
                                    </th:block>
                                </th:block>
                            </tr>
                        </thead>
                        <tbody class="custom-table__body">
                            <tr
                                class="custom-table__table-line table-line table-line--with-check table-line--with-action-column table-line--complex-line"
                                th:classappend="|${item.etatMessage == 'EN_ATTENTE_AR' || item.etatMessage == 'EN_COURS_TRAITEMENT' ? 'row-italic' : ''}
						${item.etatMessage == 'EN_COURS_REDACTION' || item.etatMessage == 'NON_TRAITE' ? 'row-bold' : ''} |"
                                th:each="item, nb : ${resultList.liste}"
                                th:id="${item.id}"
                            >
                                <td class="table-line__cell">
                                    <span
                                        th:if="${item.etatMessage == 'NON_TRAITE'}"
                                        aria-hidden="true"
                                        class="icon icon--stop-circle text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatMessage == 'EN_COURS_TRAITEMENT'}"
                                        aria-hidden="true"
                                        class="icon icon--arrow-triangle-right-circle text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatMessage == 'TRAITE'}"
                                        aria-hidden="true"
                                        class="icon icon--check-circle text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatMessage == 'EN_COURS_REDACTION'}"
                                        aria-hidden="true"
                                        class="icon icon--pen-circle text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatMessage == 'EN_ATTENTE_AR'}"
                                        aria-hidden="true"
                                        class="icon icon--pause-circle text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatMessage == 'EMIS'}"
                                        aria-hidden="true"
                                        class="icon icon--arrow-right-circle text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatMessage == 'AR_RECU'}"
                                        aria-hidden="true"
                                        class="icon icon--mail text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatMessage == 'AR_RECU_VERSION_REJETE'}"
                                        aria-hidden="true"
                                        class="icon icon--mail text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.message.etat.__${item.etatMessage}__}"
                                    ></span>
                                    <span class="sr-only">[[#{label.message.etat.__${item.etatMessage}__}]]</span>

                                    <span
                                        th:if="${item.etatEvenement == 'BROUILLON'}"
                                        aria-hidden="true"
                                        class="icon icon--paper text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.evenement.etat.__${item.etatEvenement}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatEvenement == 'PUBLIE'}"
                                        aria-hidden="true"
                                        class="icon icon--paper-bubble-triangle-right text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.evenement.etat.__${item.etatEvenement}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatEvenement == 'EN_INSTANCE'}"
                                        aria-hidden="true"
                                        class="icon icon--paper-bubble-check text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.evenement.etat.__${item.etatEvenement}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatEvenement == 'EN_ATTENTE_VALIDATION'}"
                                        aria-hidden="true"
                                        class="icon icon--paper-bubble-clock text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.evenement.etat.__${item.etatEvenement}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION'}"
                                        aria-hidden="true"
                                        class="icon icon--paper-bubble-clock text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.evenement.etat.__${item.etatEvenement}__}"
                                    ></span>
                                    <span
                                        th:if="${item.etatEvenement == 'ANNULER'}"
                                        aria-hidden="true"
                                        class="icon icon--paper-bubble-times text-blue"
                                        tabindex="0"
                                        th:data-tippy-content="#{label.evenement.etat.__${item.etatEvenement}__}"
                                    ></span>
                                    <span class="sr-only">[[#{label.evenement.etat.__${item.etatEvenement}__}]]</span>

                                    <th:block th:if="${item.enAlerte}">
                                        <span
                                            aria-hidden="true"
                                            class="icon icon--danger-circle text-blue"
                                            tabindex="0"
                                            th:data-tippy-content="#{corbeille.communication.alerte}"
                                        ></span>
                                        <span class="sr-only">[[#{corbeille.communication.alerte}]]</span>
                                    </th:block>
                                    <th:block th:if="${item.pieceJointe}">
                                        <span
                                            aria-hidden="true"
                                            class="icon icon--file text-blue"
                                            tabindex="0"
                                            th:data-tippy-content="#{corbeille.communication.piecejointe}"
                                        ></span>
                                        <span class="sr-only">[[#{corbeille.communication.piecejointe}]]</span>
                                    </th:block>
                                    <th:block th:if="${item.locker}">
                                        <span
                                            aria-hidden="true"
                                            class="icon icon--lock text-blue"
                                            tabindex="0"
                                            th:data-tippy-content="${item.locker}+' - '+${item.lockTime}"
                                        ></span>
                                        <span class="sr-only">[[${item.locker}+' - '+${item.lockTime}]]</span>
                                    </th:block>
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''}|"
                                >
                                    <div class="link-copy">
                                        <a
                                            class="link-copy__link link"
                                            th:id="|link-copy__link-${item.idDossier}|"
                                            th:href="@{|/dossier/${item.id}/detailCommunication|}"
                                            >[[${item.idDossier}]]</a
                                        >
                                        <button
                                            class="js-copy link-copy__button js-tooltip base-btn base-btn--button base-btn--default base-btn--icon-action-blue base-btn--center base-btn--transparent"
                                            type="button"
                                            th:data-copy="|link-copy__link-${item.idDossier}|"
                                            th:data-tippy-content="#{idcomponent.element.help(${item.idDossier})}"
                                            th:data-tippy-default-content="#{idcomponent.element.help(${item.idDossier})}"
                                            data-tippy-trigger="mouseenter focus click"
                                        >
                                            <span class="sr-only">Copier le numéro</span
                                            ><span class="link-copy__icon icon icon--copy" aria-hidden="true"></span>
                                        </button>
                                        <span class="link-copy__live sr-only" aria-live="assertive"></span>
                                    </div>
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    <div
                                        th:replace="fragments/components/longText :: ellipser(${item.objetDossier},'jnEllipser-' + ${nb.index})"
                                    ></div>
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    [[${item.lecture}]]
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    [[${item.emetteur}]]
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    [[${item.destinataire}]]
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    [[${item.copie}]]
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    [[${item.communication}]]
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    [[${item.version}]]
                                </td>
                                <td
                                    class="table-line__cell"
                                    th:classappend="|${item.etatEvenement == 'ANNULER' || item.etatEvenement == 'EN_ATTENTE_VALIDATION_ANNULATION' ? 'cell-crossed' : ''} ${item.dossierEnAlerte ? 'row-red' : ''}|"
                                >
                                    [[${item.date}]]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="m-t-6 table-action">
                    <div class="table-action__action-container table-action__action-container--disabled"></div>
                    <div class="table-action__action-container table-action__action-container--right">
                        <th:block th:unless="${resultList.liste.size == resultList.nbTotal}">
                            <nav
                                th:replace="fragments/table/pagination :: pagination (${resultForm},${resultForm.page}, 'com_bas', ${resultList.nbTotal})"
                                role="navigation"
                            ></nav>
                        </th:block>
                    </div>
                </div>

                <a
                    class="skip-link"
                    id="skip_link_action-table_prev"
                    href="#skip_link_action-table_next"
                    th:text="#{skip.link.table.next(#{corbeille.communications.title})}"
                >
                </a>
            </th:block>
        </div>
    </body>
</html>
